<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4Px5iZOKOZIjvsYKA7J3BAIwyTpm5RcI</string>
	<key>GCM_SENDER_ID</key>
	<string>917208914609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasenotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-8948d</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-8948d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917208914609:ios:983dfdbc1a2a1b25856090</string>
</dict>
</plist>